
PORT=3000

# Rahasia JWT Token (Gunakan string acak panjang di production)
JWT_SECRET=dev_secret_key_only_replace_in_production

# Kredensial Akun Admin Default (Sesuaikan di production)
ADMIN_EMAIL=your-admin_email
ADMIN_PASSWORD=your_admin-password
